USE [WebNC]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[Fk_UserId] [int] NOT NULL,
	[Fk_NewId] [int] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Fk_UserId] [int] NOT NULL,
	[Fk_NewId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Fk_UserId] ASC,
	[Fk_NewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Abstract] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Fk_UserId] [int] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsCategory]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsCategory](
	[CategoriesCategoryId] [int] NOT NULL,
	[NewsNewId] [int] NOT NULL,
 CONSTRAINT [PK_NewsCategory] PRIMARY KEY CLUSTERED 
(
	[CategoriesCategoryId] ASC,
	[NewsNewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/14/2025 3:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Fk_RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[EmailConfirmationToken] [nvarchar](max) NULL,
	[TokenExpiration] [datetime2](7) NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[VerifyKey] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250413125059_CreateDB', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250414063909_AddVerifyKey', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250414064036_AddVerifyKeyUser', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (1, N'Tin tức CNTT', N'Danh mục này cung cấp các bài viết, bản tin và phân tích về các xu hướng mới nhất trong công nghệ thông tin, từ trí tuệ nhân tạo, dữ liệu lớn đến chuyển đổi số và an ninh mạng. Nội dung được thiết kế để giúp các thành viên hiệp hội nắm bắt thông tin cập nhật, nâng cao kiến thức và định hướng chiến lược phát triển nghề nghiệp trong ngành CNTT.')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (2, N'An ninh mạng', N'Chuyên mục tập trung vào bảo mật thông tin, an ninh mạng và phòng chống tấn công mạng. Nội dung bao gồm nghiên cứu, giải pháp kỹ thuật, cập nhật về các mối đe dọa mới và hướng dẫn thực hành tốt nhất để bảo vệ hệ thống CNTT. Đây là nguồn tài liệu quan trọng cho các chuyên gia trong hiệp hội nhằm nâng cao năng lực bảo mật và đảm bảo an toàn dữ liệu.')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (3, N'Chuyển đổi số', N'Danh mục này thảo luận về chiến lược, công nghệ và câu chuyện thành công trong chuyển đổi số. Nội dung bao gồm phương pháp triển khai, công cụ hỗ trợ và vai trò của CNTT trong đổi mới. Hiệp hội cung cấp thông tin để hỗ trợ thành viên tối ưu hóa quy trình kinh doanh, nâng cao năng lực cạnh tranh và thúc đẩy sự phát triển bền vững trong thời đại số.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewId], [Title], [Abstract], [Content], [PostedDate], [ViewCount], [IsApprove], [Image], [Fk_UserId]) VALUES (1, N'Khám phá AI trong y tế', N'Tìm hiểu cách AI đang thay đổi ngành y tế với chẩn đoán thông minh.', N'Nội dung chi tiết về cách trí tuệ nhân tạo (AI) được sử dụng trong y tế, từ phân tích hình ảnh y khoa đến dự đoán bệnh lý, mang lại hiệu quả cao và tiết kiệm chi phí.', CAST(N'2025-04-11T08:00:00.0000000' AS DateTime2), 45, 1, N'new1.jpg', 2)
INSERT [dbo].[News] ([NewId], [Title], [Abstract], [Content], [PostedDate], [ViewCount], [IsApprove], [Image], [Fk_UserId]) VALUES (2, N'An ninh mạng trong 2025', N'Cập nhật các mối đe dọa mạng mới nhất và cách phòng chống.', N'Bài viết phân tích các xu hướng tấn công mạng trong năm 2025 và các biện pháp bảo mật tiên tiến để bảo vệ tổ chức.', CAST(N'2025-04-10T09:00:00.0000000' AS DateTime2), 32, 1, N'new2.jpg', 3)
INSERT [dbo].[News] ([NewId], [Title], [Abstract], [Content], [PostedDate], [ViewCount], [IsApprove], [Image], [Fk_UserId]) VALUES (3, N'Chuyển đổi số doanh nghiệp', N'Tìm hiểu cách doanh nghiệp áp dụng chuyển đổi số để tăng hiệu quả.', N'Bài viết thảo luận về hành trình chuyển đổi số của các doanh nghiệp Việt Nam, với các ví dụ thực tiễn và bài học kinh nghiệm.', CAST(N'2025-04-09T10:00:00.0000000' AS DateTime2), 60, 1, N'new3.jpeg', 4)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
INSERT [dbo].[NewsCategory] ([CategoriesCategoryId], [NewsNewId]) VALUES (1, 1)
INSERT [dbo].[NewsCategory] ([CategoriesCategoryId], [NewsNewId]) VALUES (2, 2)
INSERT [dbo].[NewsCategory] ([CategoriesCategoryId], [NewsNewId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [DateOfBirth], [PhoneNumber], [Avatar], [Email], [PasswordHash], [Fk_RoleId], [CreatedAt], [Address], [IsEmailConfirmed], [EmailConfirmationToken], [TokenExpiration], [FailedLoginAttempts], [LockoutEnd], [VerifyKey]) VALUES (1, N'Default User', NULL, N'0777784212', N'default-avatar.jpg', N'defaultuser@system.com', N'$2a$11$r4pVU.eq60ETzX5Yv94PIONIY2fGelXqupncQUNDQN4zZ7fv6PtqC', 2, CAST(N'2025-04-11T14:51:24.1579700' AS DateTime2), NULL, 1, NULL, NULL, 0, NULL, N'')
INSERT [dbo].[Users] ([UserId], [FullName], [DateOfBirth], [PhoneNumber], [Avatar], [Email], [PasswordHash], [Fk_RoleId], [CreatedAt], [Address], [IsEmailConfirmed], [EmailConfirmationToken], [TokenExpiration], [FailedLoginAttempts], [LockoutEnd], [VerifyKey]) VALUES (2, N'Trần Giang', NULL, N'0386677621', N'default-avatar.jpg', N'giangtt8726@gmail.com', N'$2a$11$6EhpXVpBBmUsBoJsA5L74.bAKj2GHA/zCcudYoVlMeMPabreTGhVa', 1, CAST(N'2025-04-11T14:54:33.1996219' AS DateTime2), N'Vĩnh Hưng, Hoàng Mai', 1, NULL, NULL, 0, NULL, N'')
INSERT [dbo].[Users] ([UserId], [FullName], [DateOfBirth], [PhoneNumber], [Avatar], [Email], [PasswordHash], [Fk_RoleId], [CreatedAt], [Address], [IsEmailConfirmed], [EmailConfirmationToken], [TokenExpiration], [FailedLoginAttempts], [LockoutEnd], [VerifyKey]) VALUES (3, N'An Anh', NULL, N'0868751074', N'avatar.jpg', N'anducanh125@gmail.com', N'$2a$11$7S2ypEWnP4j0RnZiv6rqS.MWj7TpO69mlBl3hJ15gleuQJ6rPivyy', 2, CAST(N'2025-04-11T15:02:02.6932713' AS DateTime2), NULL, 1, NULL, NULL, 0, NULL, N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [VerifyKey]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Comments] ([CommentId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_ParentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_News_Fk_NewId] FOREIGN KEY([Fk_NewId])
REFERENCES [dbo].[News] ([NewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_News_Fk_NewId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_Fk_UserId] FOREIGN KEY([Fk_UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_Fk_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_News_Fk_NewId] FOREIGN KEY([Fk_NewId])
REFERENCES [dbo].[News] ([NewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_News_Fk_NewId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users_Fk_UserId] FOREIGN KEY([Fk_UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users_Fk_UserId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users_Fk_UserId] FOREIGN KEY([Fk_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users_Fk_UserId]
GO
ALTER TABLE [dbo].[NewsCategory]  WITH CHECK ADD  CONSTRAINT [FK_NewsCategory_Categories_CategoriesCategoryId] FOREIGN KEY([CategoriesCategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsCategory] CHECK CONSTRAINT [FK_NewsCategory_Categories_CategoriesCategoryId]
GO
ALTER TABLE [dbo].[NewsCategory]  WITH CHECK ADD  CONSTRAINT [FK_NewsCategory_News_NewsNewId] FOREIGN KEY([NewsNewId])
REFERENCES [dbo].[News] ([NewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsCategory] CHECK CONSTRAINT [FK_NewsCategory_News_NewsNewId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Fk_RoleId] FOREIGN KEY([Fk_RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_Fk_RoleId]
GO
